




<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1> Détails de Vote {{vote.id}}</h1>
<table border="1">
<tr>
 <th>id</th>
    <th>date de vote</th>
    <th>note</th>
   
    
</tr>

      <tr>   </tr>
      <td>{{vote.id}}</td>
        <td>{{ vote.dateVote|date("m/d/Y") }}</td>
<td>{{ vote.note }}</td>
   


</table>
</body>
</html>

